---
import projects from '../../data/proyectos.json';
---    
<!-- Content Legend / Colecciones por json --->

<div class="container">
    {
        projects.map((project) => (
        <a href={`/proyectos/${project.id}`} class="block bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src={project.imagenPrincipal} alt={`Imagen de ${project.id}`} class="w-full h-48 object-cover" />
            
            <div class="p-6">
            <span 
                class={`inline-block px-2 py-1 text-xs font-semibold rounded-full mb-2 ${project.desarrollo === 'Fullstack' ? 'bg-blue-500 text-white' : 'bg-green-500 text-white'}`}
            >
                {project.desarrollo}
            </span>
            <h2 class="text-2xl font-bold mb-2 text-white">{project.id}</h2>
            <p class="text-gray-300 text-base">{project.descripcionCorta}</p>
            </div>
        </a>
        ))
    }
</div>
 <style>

.container {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
	align-items: center;
}


